<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usst.thumbs.mapper.BlogMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Blog">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="thumbCount" column="thumb_count" />
        <result property="coverImage" column="cover_image" />
    </resultMap>

    <update id="batchUpdateThumbCount">
        UPDATE blog
        SET thumb_count = thumb_count + CASE id
        <foreach collection="countMap" item="value" index="key">
            WHEN #{key} THEN #{value}
        </foreach>
        END
        WHERE id IN
        <foreach collection="countMap.keySet()" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
