<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usst.thumbs.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.usst.thumbs.model.Comment">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="blogId" column="blog_id" />
        <result property="replyUserId" column="reply_user_id" />
        <result property="rootId" column="root_id" />
        <result property="parentId" column="parent_id" />
        <result property="content" column="content" />
        <result property="createTime" column="create_time" />
        <result property="isDelete" column="is_delete" />
        <result property="status" column="status" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,blog_id,reply_user_id,root_id,parent_id,
        content,create_time,is_delete,status
    </sql>
</mapper>
